name: Pass data between steps (2)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compute version
        id: version
        shell: bash
        run: |
          SOME_VARIABLE="staffs-uni"
          echo "WHICH_UNI=$SOME_VARIABLE" >> "$GITHUB_ENV"

      - name: Show which Uni we are at (from env)
        run: |
          echo "Which Uni are we at: $WHICH_UNI"